<% if (locals.sucesso && sucesso.length > 0) { %>
  <div class="alert alert-sucesso"><%= sucesso[0] %></div>
<% } %>
<% if (locals.erro && erro.length > 0) { %>
  <div class="alert alert-erro"><%= erro[0] %></div>
<% } %>